/*************** 1. Règles générales **********************/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    word-break: break-all;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    line-height: 1.5;
}

body {
    background: linear-gradient(45deg, #00c3ff, #ffff1c, #ff0084, #3a3a3a, #00c3ff, #ffff1c, #ff0084);
    background-size: 600% 600%;
    animation: gradient 20s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

::-moz-focus-inner {
    border: 1px solid transparent;
}

/*************** 2. MAIN **********************/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 320px;
    width: 96%;
    margin: 0 auto;
    padding: 20px 0;
}

main>div#container {
    background-color: #7cc5e7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px #347ea8;
    font-size: 0;
    width: 90%;
}

main>div#container .structure-elements {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    font-size: initial;
}

main>div#container>p#message {
    width: 65%;
    margin-right: 5%;
    color: white;
    font-weight: bold;
    visibility: hidden;
}

main>div#container>aside#score {
    color: #888E5F;
    background-color: #F1FF92;
    box-shadow: 0 4px #9DA853;
}

main>div#container>div#calculation {
    width: 80%;
    margin: 0 auto;
}

main>div#container>div#calculation>* {
    width: 100%;
    margin-top: 10px;
}

main>div#container>div#calculation>section#question {
    background-color: #9a9df3;
    box-shadow: 0 4px #535AA8;
    font-size: 6.250rem;
    height: 170px;
}

main>div#container>div#calculation>p#instruction {
    background-color: #B481D9;
    box-shadow: 0 4px #8153A8;
}

main>div#container>div#calculation>ul#choices {
    padding: 0;
}

main>div#container>div#calculation>ul#choices>li,
main>div#container>button#start-reset {
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow transform 0.2s;
}

main>div#container>div#calculation>ul#choices>li {
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    height: 44px;
}

main>div#container>div#calculation>ul#choices>li:active,
main>div#container>button#start-reset:active {
    color: white;
    background-color: #9C89F6;
    box-shadow: 0 0 #6B54D3;
    transform: translateY(4px);
}

main>div#container>button#start-reset {
    background-color: rgba(255, 255, 255, 0.5);
    border: 0;
    margin: 10px auto;
    line-height: 1.5;
    display: block;
}

main>div#container>aside#time-remaining {
    background-color: rgba(181, 235, 36, 0.8);
    border-radius: 5px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    visibility: hidden;
}

main>div#game-over {
    color: white;
    background-image: linear-gradient(#F3CA6B, #F3706C);
    font-size: 3rem;
    text-transform: uppercase;
    position: absolute;
    padding: 20px;
    min-width: 250px;
    display: none;
}

/*************** 3. RESPONSIVE **********************/
/********* pour TABLETTE ************/
@media all and (min-width: 768px) {}

/*************** 4. RESPONSIVE **********************/
/********* pour ORDINATEUR ************/
@media all and (min-width: 992px) {
    /*************** 1. Règles générales **********************/


    /*************** 2. MAIN **********************/
    main {
        max-width: 1350px;
        width: 50%;
    }

    main>div#container {
        width: 75%;
    }

    main>div#container>p#message {
        width: 25%;
        margin: 0 25%;
    }

    main>div#container>div#calculation>ul#choices {
        font-size: 0;
    }

    main>div#container>div#calculation>ul#choices>li {
        width: 24%;
        display: inline-block;
        font-size: initial;
    }

    main>div#container>div#calculation>ul#choices>li:not(:last-of-type) {
        margin-right: 1%;
    }

    main>div#container>button#start-reset {
        display: inline-block;
        margin: 10px;
    }
}

.operator_type {
    border-radius: 9px;
}